<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Result
body
  div
    label #{lang.label.login}: #{data.login}
    br
    label #{lang.label.password}: 
    if data.password == data.passwordCheck
      |#{lang.label.passCorrect}
    else
      |#{lang.label.passIncorrect}
    br
    label #{lang.label.gender}: #{lang.variants.gender[data.gender]}
    br
    label #{lang.label.city}: #{lang.variants.cities[data.city]}
    br
    -if(data.games)
      label #{lang.label.favGames}:
        ul
          if typeof data.games == "string"
            li=data.games
          else
            each i in data.games
              li=i
    br
    label #{lang.label.about}: !{data.about}
    br
    label #{lang.label.photo}:
    - let source = data.photo
      img(src=source, alt="User Photo")
    br
    a(href="/") #{lang.label.goToMain}
