<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Lab11
body
  div
    a(href="/?lang=ukr")
      img(src="/flags/ukr.png", alt="Ukraine")
    a(href="/?lang=rus")
      img(src="/flags/rus.png", alt="Russian")
  form(action="/form" enctype="multipart/form-data" name="user" method="POST")
    div
      label #{lang.label.login}:
        -let login = data.login
        input(type="text" name="login" value=login required)
    div
      label #{lang.label.password}:
        -let password = data.password
        input(type="password" name="password" value=password required)
    div
      label #{lang.label.rapidPassword}:
        -let passwordCheck = data.passwordCheck
        input(type="password" name="passwordCheck" value=passwordCheck required)
    div
      | #{lang.label.gender}:
      if data.gender
        each val, key in lang.variants.gender
          label
          if key == data.gender
            input(type="radio" name="gender" value=key checked)
          else
            input(type="radio" name="gender" value=key)
          |  #{val}
      else
        each val, key in lang.variants.gender
          label
            input(type="radio" name="gender" value=key checked)
            |  #{val}
    div
      label #{lang.label.city}:
        select(name="city")
          each val, key in lang.variants.cities
            if key == data.city
              option(selected value=key)=val
            else
              option(value=key)=val
    div
      | #{lang.label.favGames}:
      br
      each val in lang.variants.games
        label
          if data.games && ~data.games.indexOf(val)
            input(type="checkbox" name="games" value=val checked)
          else
            input(type="checkbox" name="games" value=val)
          |  #{val}
        br
    div
      label #{lang.label.about}:
        br
        textarea(name="about", cols="30", rows="10") !{data.about}
    div
      label #{lang.label.photo}:
        input(type="file" name="photo" accept="image/*")
    - let regLab = lang.label.register
    input(type="submit" value=regLab)
