.graduates {
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #333;
}

.graduates img {
    size: 80%;
    vertical-align: middle;
    border-radius: 50% 50%;
    margin: 0 15px 0 0;
}

.group {
    border-radius: 0% !important;
}


.our_graduates {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
    font-style: normal;
}

figure {
    width: min-content;
    margin-top: 0;
}

figcaption {
    margin: 20px 0 0 0;
    text-align: center;
    float: left;
    font-size:0.8em;
}

blockquote {
    display: block;
    overflow: visible;
    position: relative;
    bottom: 200px;
    width: 350px;
    line-height: 1.4;
    margin: 0;
    padding: 15px 60px 0 60px;
    left: 250px;
}

.who {
    display: block;
    text-align: right;
    font-style: normal;
}

.who::before {
     content: "\2014\0000a0";
 }

blockquote::before {
    color: #ccc;
    content: "\201C"; /* Непечатаемый символ слева */
    position: absolute;
    display: block;
    font-size:62px;
    top: -10px;
    left: 20px;
}

blockquote::after {
    content:"\201D";
    color: #ccc;
    position: absolute;
    display: block;
    font-size:62px;
    top: 250px;
    left: 420px;
}