* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  background: linear-gradient(to right,
    rgba(59,40,59,1) 0%,
    rgba(0,0,0,0.99) 22%,
    rgba(0,0,0,0.95) 81%,
    rgba(59,40,59,0.94)
    100%);
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 5px solid white;
}
