body {
  text-align: left;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin-left: -40px;
}

ul>li {
  padding: 5px;
}

body>ul>li {
  margin: 2px;
}

ul li {
  background: green;
  color: white;
}

ul li ul li {
  background: orange;
  color: black;
}

th {
  background-color: blue;
  color: white;
  text-align: center;
}

td, th {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:last-child {
  background-color: red;
  color: white;
}
