* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Thasadith', sans-serif;
}

.logo {
  padding-left: 50px;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  background-color: orange;
  color: white;
}

header {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: flex;
  justify-content: center;
  flex: 0 0 70px;
  word-wrap: normal;
  font-weight: bold;
}

.top-section {
  background: url(../capture/head.jpg);
  height: 50vw;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.top-section span {
  font-family: 'Staatliches', cursive;
  position: relative;
  top: 3vw;
  left: 20vw;
  font-size: 15vw;
  color: lightgrey;
  user-select: none;
}

.top-section h1 {
  font-weight: 100;
  font-size: 10vw;
  user-select: none;
  position: relative;
  top: -15vw;
  padding-left: 10vw;
}

.top-section h2 {
  margin-left: 10vw;
  font-size: 7vw;
  position: relative;
  top: -12vw;
  user-select: none;
}

.middle {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: auto;
}

.top-container, .bottom-container, .foot{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-middle h2 {
  font-size: 2vw;
}

.top-middle h1 {
  font-size: 4vw;
}

.top-container>div:first-child {
  display: grid;
  background-color: orange;
  color: white;
  padding: 3vw;
  align-items: center;
}

.top-container>div:nth-of-type(2) {
  padding: 2vw;
  color: orange;
  background-color: #333;
}

.top-container p {
  font-size: 1.5vw;
}

.top-container>div:last-of-type {
  background: url(../capture/lamp.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
}

.bottom-container {
  grid-template-columns: 1fr 2fr;
}

div>img {
  height: 15vw;
  width: 11vw;
}

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw;
  font-size: 2vw;
}

.room {
  background: url(../capture/room.jpg) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.foot {
  position: relative;
  top: -10vw;
  grid-template-columns: 2fr 1fr;
}

.foot>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.foot span {
  font-size: 3vw;
}

.foot>div>div {
  font-size: 2vw;
}
