body {
  margin-left: 20%;
  margin-right: 20%;
}

div {
  text-align: center;
}

h3 {
  font-weight:100;
  text-align: center;
}

fieldset {
  border-radius: 10px;
  margin: 10px;
  max-width: 60vw;
  min-width: 450px;
  text-align: center;
}

form {
  min-width: 400px;
}

progress {
  width: 100%;

}

meter {
  width:90%;
}

.container textarea {
  resize: none;
  width: 76%;
  margin-left: 2vw;
  min-width: 360px;
}

.container {
  border-radius: 20px;
  background-color: lightyellow;
  line-height: 30px;
  border: 1px solid lightgrey;
  max-width: 60vw;
  min-width: 500px;
}

.container legend {
  text-align: center;
  padding-top: 10px;
}

.label, .input {
  padding-left: 10%;
}

.input input[type="radio"] {
  width: 3%;
}

.input input {
  width:50%;
}

.label {
  float: left;
  text-align: left;
}

.input {
  text-align: right;
  margin:0 auto;
}