h1 {
  font-size: 30px;
}

li:last-child {
  text-decoration: underline;
}

.sub, .sup {
  font-size: 12px !important;
}

.sub {
  vertical-align: sub;
}

.sup {
  vertical-align: super;
}

div.container {
  background: url(img/sky.jpg) no-repeat;
  background-size: 200%;
  height: 700px;
}

div span {
  font-style: italic;
}

div.recipe h1 {
  color: #FF3333;
}

div.recipe div {
  color: yellow;
  padding: 20px;
}


div.recipe div:first-child {
  border-bottom: 1px solid grey;
  box-sizing: border-box;
}

div.recipe div span {
  font-size: 25px;
  color: white;
}

div.container a {
  position: absolute;
  top: 400px;
  left: 50px;
  padding: 100px;
  background: url(img/gal_01.jpg) -150px 0px no-repeat;
  background-size: 200%;
}

div.recipe div:nth-child(2) {
  color: black;
}

div.recipe {
  color: white;
  border: 3px solid black;
  border-top-color: blue;
  border-left-color: red;
  border-right-color: yellow;
  border-bottom-color: green;
}

body {
  width: 450px;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
  padding: 10px 20px 10px 20px;
  float: left;
  background-color: #f5f5f5;
  border: 2px solid #cccccc;
}

.logo,.footer,.contacts
{
  background-color:#333333;
  color:white;
}

.header {
  min-height: 40px;
  margin-bottom: 20px;
}

.logo {
  float: left;
  width: 230px;
  text-align: center;
  font-weight: bold;
}

.contacts {
  float: left;
  width: 110px;
  margin-left:22px;
  text-align: center;
  font-style: italic;
}

.about-us {
  width: 240px;
  margin-bottom: 10px;
  padding: 10px;
  padding-right:15px;
  padding-left:15px;
}

.about-us h1 {
font-size: 20px;
margin-left:5px;
}

.about-us p {
  font-size: 12px;
  margin-left:5px;
}

.main-menu {
  margin-left:22px;
  width:110px;
}

.footer {
margin-top:10px;
width:406px;
}