* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.header, .footer {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  box-shadow: 0px 1px 2px 2px lightgrey;
  align-items: center;
  padding: 5px;
}

.logo {
  font-size: 30pt;
  color: darkgrey;
  grid-column-start: 3;
}

.logo span {
  font-weight: bold;
  color: steelblue;
}

button:hover {
  background: linear-gradient(to top, green, white);
}

.navigation {
  grid-column-start: 4;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
  transition: background-color 200ms,
              color 100ms;
}

a:hover {
  background-color: steelblue;
  color: white;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

section.top {
  padding: 20% 0;
  text-align: center;
  background-image: url(../capture/top-bg.jpg);
  background-size: 100%;
}

.top h2 {
  font-size: 3vw;
  font-weight: lighter;
  color: white;
}

.top h2 span {
  font-weight: bold;
}

.ask {
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  padding: 5px;
  width: 25vw;
  left: 50%;
  margin-left: -12.5vw;
  border: 0px solid black;
  border-radius: 5px;
  background: linear-gradient(to top, green, lightgreen);
  color: white;
}

.middle .container {
  align-items: center;
  text-align: center;
  background-color: white;
  position: absolute;
  padding: 20px;
  top: 45vw;
  left: 50vw;
  margin-left: -32.5vw;
  width: 60vw;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 0px 10px 0px -5px green;
}

.wrapper div, .icons div {
  margin: 2px;
}

.middle h2 {
  font-weight: lighter;
  font-size: 3vw;
}

.container {
  display: grid;
}

.container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.middle img {
  margin: 1vw;
  height: 6vw;
  width: 9vw;
  box-shadow: 0px 2px 2px 2px grey;
}

.bottom {
  padding-top: 30vw;
  text-align: center;
  background-color: #EFEFEF;
  height: 60vw;
}

.bottom img {
  heigth: 20vw;
  width: 20vw;
}

.bottom .icons, .bottom h2, .bottom h3 {
  display: flex;
  justify-content: center;
  color: #555;
}

.bottom h2, .bottom h3 {
  font-size: 3vw;
  font-weight: lighter;
}

.bottom h2,  .bottom h3  {
  padding-bottom: 20px;
}

footer.footer {
  height: 5vw;
  display: flex;
  background-color: darkgrey;
  justify-content: center;
}

@media all and (max-width: 767px) {
  header {
    display: flex;
  }

  .container  {
    position: static;
    display: block;
  }
}
