body {
  font-size: 20px;
}

p {
  font-weight: bold;
}

label:nth-of-type(4)
{
  color: red;
}

div {
  text-align: left;
  margin-left: 30%;
}

input {
  margin: 10px;
}

fieldset {
  padding: 0px 0px 50px 50px;
}

legend {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: sienna;
}

form {
  background: url(flag.png) 30px 30px no-repeat;
  background-size: 30%;
}