html, body {
  padding: 0;
  margin: 0;
}

.container {
  background: url(Task1/0.png) no-repeat;
  height: 946px;
  width: 1280px;
}

.pic {
  position: absolute;
}

.dale1 {
  left: 250px;
  top: 175px;
  padding: 150px;
  background: url(Task1/6.png) no-repeat;
  z-index: 100;
}

.dale2 {
  left: 800px;
  top: 350px;
  padding: 250px 150px;
  background: url(Task1/3.png) no-repeat;
  z-index: 200;
}

.chip {
  left: 1000px;
  top: 350px;
  background: url(Task1/2.png) no-repeat;
  padding: 250px 150px;
  z-index: 200;
}

.zipper {
  left: 925px;
  top: 550px;
  background: url(Task1/4.png) no-repeat;
  padding: 150px;
  z-index: 300;
}

.jack {
  overflow: hidden;
  top: 556px;
  background: url(Task1/1.png) no-repeat;
  padding: 200px 300px;
  z-index: 500;
}

.hackwrench {
  top: 300px;
  left: 275px;
  background: url(Task1/5.png) no-repeat;
  padding: 300px 155px;
  z-index: 300;
}

.googleplus, .twitter, .mail,
.facebook, .s1, .vk,
.mailru, .yandex, .s2,
.odnoklas {
  background: url(Task2/white_sprait.png);
  padding: 50px;
  float: left;
}

.googleplus {
  background-position: 0px 0;
  background-color: red;
}

.twitter {
  background-position: -100px 0;
  background-color: cyan;
}

.mail {
  background-position: -200px 0;
  background-color: gold;
}

.facebook {
  background-position: -300px 0;
  background-color: darkblue;
}

.s1 {
  background-position: -400px 0;
  background-color: coral;
}

.vk {
  background-position: 0px 100px;
  background-color: darkblue;
}

.mailru {
  background-position: -100px 100px;
  background-color: yellow;
}

.yandex {
  background-position: -200px 100px;
  background-color: red;
}

.s2 {
  background-position: -300px 100px;
  background-color: cyan;
}

.odnoklas {
  background-position: -400px 100px;
  background-color: coral;
}