svg {
  border: 1px solid #dddddd;
}

div {
  margin: 20px;
}

a {
  
  height: 30px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;
  background-color: lemonchiffon;
  text-decoration: none;
}

a:hover {
  background-color: darkblue;
  color: white;
}

.rect-1 {
  fill: tomato; 
}

.rect-2 {
  fill: lightseagreen;
  fill-opacity: 0.5;
}

.rect-3 {
  fill: gold; 
}

.rect-4 {
  fill: none; 
}

.rect-5, .rect-6, .rect-7 {
  fill:none; 
}

.rect-5 {
   stroke: yellowgreen;
   stroke-width: 5;
}

.rect-6 {
   stroke: gold;
   stroke-width: 10;
}

.rect-7 {
   stroke: lightseagreen;
   stroke-width: 30;
   stroke-opacity: 0.5;
}

.circle-1, .circle-2, .circle-3 {
  fill:none; 
}

.circle-1 {
   stroke:tomato;
   stroke-width: 150;
   stroke-dasharray: 15;
}

.circle-2 {
   stroke:darkorange;
   stroke-width: 125;
   stroke-dasharray: 10 10;
}

.circle-3 {
   stroke:gold;
   stroke-width: 75;
   stroke-dasharray: 15 10;
   fill: gold;
}

.circle-4 {
   fill: gold;
}

.circle-5 {
   fill:none;
   stroke: tomato;
   stroke-width: 60;
}

.circle-6 {
   fill: lightgreen;
   stroke: darkorange;
   stroke-width: 60;
   stroke-dasharray: 35 30;
   stroke-dashoffset: 35;
}

.circle-7 {
   fill:gold;
   stroke: yellowgreen;
   stroke-width: 20;
}