ul {
  list-style-type: none;
}

li {
  border: 1px solid cyan;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  max-width: 200px;
}

.active {
  color: blue;
  background-color: white;
}

img {
  display: inline;
  vertical-align: middle;
  float: right;
  width: 1.7vw;
  height: 1.7vw;
}
