* {
  padding: 0;
  margin: 0;
}

header, footer {
  text-align: center;
  padding: 30px;
}

header {
  background-color: aqua;
}

footer {
  background-color: gold;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside, content {
  padding: 0 20px;
}

aside {
  display: flex;
  align-items: center;
  background-color: lightpink;
  flex: 2 2 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

aside:nth-of-type(2) {
  background-color: purple;
  color: white;
}

content {
  background-color: lightcyan;
  flex: 2 2 600px;
}