html, body {
  padding: 0;
  margin: 0;
}

form {
  border: 2px solid grey;
  background-color: lightgrey;
  height: 500px;
  width: 500px;
}

form>div {
  float: left;
}

div:first-child {
  width: 30%;
  text-align: right;
}

div:last-child {
  width: 70%; 
}

label {
  font-weight: bold;
}

input[type="text"] {
  border-color: orange;
  background-color: gold;
}

input[type="password"] {
  border-color: red;
  background-color: coral;
}

input[type="email"] {
  border-color: gold;
  background-color: yellow;
}

select {
  padding: 10px 0px;
  width: 275px;
  border-color: blue;
  background-color: lightblue;
}

textarea {
  border-color: green;
  background-color: rgba(20, 255, 20, 0.5);
  resize: none;
  width: 270px;
}

select, textarea {
  margin: 4px 2px;
}

input {
  padding: 10px 50px;
  margin: 2px;
}

input[type="submit"] {
   padding: 10px 20px;
  background-color: lightgreen;
}

input[type="reset"] {
   padding: 10px 20px;
  background-color: coral;
}

span:nth-of-type(2) {
  color: red;
}