* {
  margin: 0;
  padding: 0;
}

body, html {
  color: white;
  font-family: Arial;
}

form {
  font-size: 0;
}

hr {
  width: 15%;
  margin: 3vw 0vw;
}

h3 {
  font-size: 2vw;
  line-height: 3vw;
}

p {
  color: #888888;
  font-size: 1.5vw;
}

header, footer {
  background-color: black;
}

header nav {
  font-weight: 400;
  font-size: 1vw;
  padding: 1.5vw;
  padding-left: 50vw;
}

a {
  text-decoration: none;
  color: white;
}

header nav a {
  padding: 1.35vw;
}

header nav a:hover {
  background-color: orange;
}

span {
  font-weight: bold;
}

header>span {
  padding: 0.5vw;
  font-size: 3vw;
  margin-left: 15%;
  float: left;
}

span.orange {
  color: orange;
  font-weight: 100;
}

section#top{
  background: url(images/header/background.png) repeat-x;
  background-color: black;
  background-size: 100vw;
}

section {
  height: 50vw;
}

section:nth-child(odd) {
  background-color: #EEEEEE;
}

#top h2 {
  font-weight: 100;
}

#top article {
  box-sizing: border-box;
  float: left;
}

#top .left-column {
  padding: 7.5vw;
  width: 63%;
  font-size: 2vw;
  height: 100%;
}

#top .left-column>span {
  box-sizing: border-box;
  font-size: 500%;
}

#top .left-column a {
  margin: 3vw 0;
  padding: 1vw;
  border: 0.1vw solid white;
}

#top .left-column a:hover {
  background-color: #222222;
  opacity: 0.5;
}

#top .left-column p {
  color: #DDDDDD;
  margin: 3vw 0;
}

#top .right-column {
  height: 100%;
  padding: 15vw 6vw 25vw 6vw;
  width: 35%;
}

form>input[type="submit"] {
  border-radius: 0vw 0vw 1vw 1vw;
  border: 0;
  background-color: orange;
  color: white;
}

form>input[type="submit"]:hover {
  background-color: silver;
}

#top .right-column div, input, textarea {
  font-size: 1.4vw;
  border: 0;
  margin: 0;
  line-height: 1.4vw;
  padding: 1.4vw 1vw;
  box-sizing: border-box;
  width: 100%;
}

#top .right-column div {
  text-align: center;
  background-color: #444444;
  border-radius: 1vw 1vw 0vw 0vw;
}

#features .top {
  padding: 1vw 10vw;
  background-color: white;
  box-shadow: 0 0 5px 0 black;
}

#features .top h3 {
  font-size: 2vw;
  line-height: 3vw;
}

#features .top div:first-child {
  font-size: 1vw;
  color: black;
}

#features .top div:nth-child(2) {
  height: 7vw;
  width: 50%;
  padding: 0vw 0vw 0vw 50vw;
  height: 100%;
}

.link {
  float: left;
  padding: 3.5vw 3.5vw;
  color: black;
  background: url(images/sprite/Social_Media_Icons.png) no-repeat;
  background-size: 1000%;
}

.link:hover {
  background-color: black;
  opacity: 0.75;
}

.facebook {
  background-position: -3%;
}

.twitter {
  background-position: 13.5%;
}

.googleplus {
  background-position: 31.5%;
}

.pinterest {
  background-position: 47.5%;
}

.instagram {
  background-position: 65.5%;
}

#features {
  color: black;
}

#features article {
  float: left;
}

#features .tabs {
  padding-left: 5vw;
  width: 20%;
}

#features .tabs a {
  float: left;
  font-size: 1.25vw;
  font-weight: bold;
  padding: 4vw;
  margin-bottom: 2%;
  background-color: black;
  opacity: 0.75;
  height: 100%;
}

#features .tabs a:hover {
  background-color: orange;
}

#features .text {
  width: 40%;
}

#features .text h3 {
  margin-top: 1vw;
  font-size: 2vw;
}

#features .text p {
  margin-top: 4vw;
  font-size: 1.5vw;
}

#features .text a {
  font-size: 1.4vw;
  margin-top: 1vw;
  float: left;
  padding: 1.5vw;
  background-color: orange;
  border-radius: 5px;
}

#features .text a:hover {
  background-color: black;
  opacity: 0.5;
}

.tabs, .text, .captures {
  margin: 2.5vw 0vw;
}

#features .captures {
  background: url(images/content/image_right_u255.png) no-repeat;
  background-size: 100%;
  width: 25%;
  margin-left: 5vw;
  height: 50%;
  margin-top: 5vw;
}

#sublist article {
  margin: 0vw 3vw;
  float: left;
  width: 40%;
  margin-top: 7.5vw;
}

#sublist .captures {
  box-sizing: border-box;
  margin-top: 10vw;
  background: url(images/content/image_left_sub_list_u260.png) no-repeat;
  background-size: 100%;
  height: 70%;
  margin-left: 7.5vw;
}

#sublist .text {
  color: black;
}

#sublist hr {
  border-color: orange;
}

#sublist .cloud {
  display: inline-block;
  margin: 2vw;
  background: url(images/sprite/cloud.png) no-repeat;
  background-size: 3vw;
  background-position: 60%;
  border: 0.1vw solid orange;
  border-radius: 50%;
  padding: 2vw;
}

#sublist .cloud:hover {
  background-color: black;
}

#sublist .download {
  font-size: 0;
  width: 30%;
  float: left;
}

#sublist h4 {
  margin-top: 1vw;
  font-size: 2vw;
}

#sublist .discription p {
  padding: 1vw 0;
}

#about, #pricing, #reviews, #contact {
  text-align: center;
  padding: 5vw;
}

#about h1, #pricing h1, #reviews h1, #contact h1 {
  font-weight: 100;
  color: black;
  font-size: 3vw;
}

#about article {
  float: left;
  margin-top: 5vw;
  width: 33%;
  height: 70%;
}

#about hr, #pricing hr, #reviews hr, #contact hr {
  margin: 2vw 37.5vw;
  border: 1px solid orange;
}

#about h3, #pricing h3, #reviews h3, #contact h3 {
  font-size: 2vw;
  margin-top: 2vw;
  color: black;
}

#about img {
  width: 30%;
  margin-top: 4vw;
  padding: 3vw 3vw;
}

#about article:hover {
  background-color: #f7f0ed;
  box-shadow: 0px 10px 10px;
  border-radius: 10%;
  color: grey;
}

#about p, #pricing p, #reviews p, #contact p {
  margin-top: 2vw;
}

#pricing h3 {
  color: white;
}

#pricing {
  font-size: 1.4vw;
}

#pricing>div {
  margin: 1vw;
  background: #777777;
  width: 30%;
  float: left;
  padding: 0;
}

#pricing>div:first-of-type,
#pricing>div:last-of-type {
  margin-top: 4vw;
}

#pricing>div h3 {
  margin: 0;
  padding: 1vw;
}

#pricing>div div:first-child {
  background-color: #444444;
  border-bottom: 1px solid white;
}

#pricing div:nth-of-type(2) div:first-child div:nth-child(3) {
  padding: 1vw 0vw 2vw 0vw;
}

#pricing>div div:nth-child(3) {
  font-weight: bold;
  background-color: orange;
  height: 0.4vw;
}

#pricing li {
  line-height: 0.5vw;
  list-style-type: none;
  padding: 1vw;
  border-bottom: 1px solid white;
}

#pricing span {
  font-size: 5vw;
}

#pricing span span {
  font-size: 10vw;
}

#reviews article {
  float: left;
  width: 33.33333%;
}

#reviews article div:first-of-type {
  text-align: left;
  font-size: 1.5vw;
  margin: 0.4vw;
  margin-top: 5vw;
  padding: 1vw;
  background-color: #444444;
  border-radius: 5% 5% 5% 0;
  margin-bottom: 4vw;
}

#reviews img {
  float: left;
  width: 30%;
}

#reviews h2 {
  font-size: 2.5vw;
  color: black;
}

#contact {
  padding: 5vw;
}

#contact p {
  margin-bottom: 5vw;
}

#contact div {
  float: left;
  width: 50%;
}

#contact input {
  width: 100%;
}

#contact input{
  border-bottom: 1px solid lightgrey;
}

#contact input[type="submit"]{
  margin-top: 5vw;
  width: 30vw;
  border-radius: 10px;
}

#contact textarea {
  border: 1px solid lightgrey;
  resize: none;
  width: 40%;
}

footer {
  text-align: center;
  height: 7vw;
}

footer p{
  padding-top: 0.4vw;
}

footer div {
  margin-left: 39.5%;
}

footer .link {
  padding: 2vw;
}

/*адаптивность*/

@media all and (max-width: 767px) {

  header {
    font-size: 0;
    text-align: center;
  }

  header>span {
    margin: 0;
    float: none;
  }

  header>nav {
    padding: 0;
  }

  header>nav a {
    font-size: 3vw;
    padding: 4vw 4vw;
    display: inline-block;
  }

  header span {
    font-size: 7vw;
  }

  #top .left-column {
    padding: 1vw 2vw;
  }
  
  #top .right-column {
    padding: 5vw 0.5vw;
  }

  #top p {
    font-size: 2.5vw;
  }

  #top .right-column div, input, textarea {
    padding: 3vw;
    font-size: 2vw;
  }

  #top .left-column a {
    background-color: black;
    padding: 2vw;
  }
  
  #features .top div:first-child {
    text-align: center;
  }

  #features .top div:first-child p {
    font-size: 2vw;
  }

  #features .top div:last-of-type {
    padding: 0vw 25%;
  }

  #features .tabs {
    margin: 0.9vw 0vw;
    height: 10%;
    padding: 0 2vw;
    width: 100%;
  }

  #features .tabs a {
    font-size: 2vw;
    font-weight: bold;
    padding: 0.3vw 5vw;
    margin: 0.1vw;
  }
  
  #features .text {
    width: 65%;
  }

  #features .text h3 {
    margin: 0 2vw;
  }

  #features .text p {
    margin: 1vw 2vw;
    font-size: 2vw;
  }

  #features .text a {
    margin: 1vw 2vw;
    padding: 1vw 5vw;
    background-color: orange;
    border-radius: 5px;
  }

  #sublist .captures {
    background-position: 0 75%;
    height: 80%;
    margin-left: 7.5vw;
  }
  
  #sublist h4 {
    margin-top: 2vw;
  }
    
  #sublist p {
    font-size: 2vw;
    padding: 0vw 0 !important;
  }

  .captures {
    margin: 0vw 0vw !important;
    height: 50%;
  }

  #about h3, #pricing h3, #reviews h3, #contact h3 {
    font-size: 2.5vw;
    margin-top: 2vw;
  }

  #about p, #pricing p, #reviews p, #contact p {
    font-size: 2vw;
  }

  #pricing ul li {
    font-size: 1.5vw;
  }

  #reviews {
    height: 100vw;
  }

  #reviews article {
    margin: 0vw 10%;
    float: none;
    width: 80%;
  }

  #reviews div {
    text-align: left;
    font-size: 2vw !important;
    border-radius: 10px 10px 10px 0 !important;
  }

  #reviews div:nth-of-type(2) h2,
  #reviews div:nth-of-type(2) p {
    margin: 3vw 10vw;
  }

  #reviews img {
    width: 10%;
  }

  footer {
    height: 10vw;
  }

  footer p {
    font-size: 2vw;
  }

  footer .link {
    padding: 3.5vw;
  }

  footer div {
    margin-left: 32.5%;
  }
} 

@media all and (min-width: 992px) {
    header>span {
      margin-left: 15%;
      float: left;
      position: absolute;
    }

    header>nav {
      padding-left: 50vw;
    }

    #features .top div:first-child {
      float: left;
      width: 50%;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  header>span {
    margin-left: 15%;
    float: left;
    position: absolute;
  }

  header>nav {
    padding-left: 40vw;
  }

  #features .top div:first-child {
    float: left;
    width: 50%;
  }

  header>nav a {
    font-size: 2vw;
    padding: 2vw 2vw;
    display: inline-block;
  }

  header span {
    font-size: 7vw;
  }

  footer {
    height: 10vw;
  }

  footer p {
    font-size: 2vw;
  }

  footer .link {
    padding: 3.5vw;
  }

  footer div {
    margin-left: 32.5%;
  }
}