* {
  padding: 0;
  margin: 0;
}

header, footer {
  text-align: center;
  background-color: aqua;
}

footer {
  background-color: gold;
}

aside, content {
  padding: 0 20px;
}

header, footer {
  padding: 30px;
}

aside {
  background-color: lightpink;
  text-align: center;
  flex: 1 2 354px;
}

aside:nth-of-type(2) {
  background-color: purple;
  color: white;
}

div {
  display: flex;
}

@media screen and (max-width: 768px){
  div{
    flex-wrap: wrap;
  }
}