li a:hover {
  background-color:#607788;
  color:white;
}

li a {
  border: 2px solid #b0c7d8;
  text-decoration: none;
  color:#877160;
  border-radius: 5px;
  padding: 10px;
}

li {
  display:inline;
  margin-left: 20px;
}

div {
  width:800px;
  height: 400px;
  margin: auto;
  padding: 10px;
}

body {
  text-align: center;
}