ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 20px 30px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  margin: 1px;
  flex-basis: 50px;
  flex-shrink: 2;
  flex-grow: 2;
}

.flex-item:hover {
  background-color: white;
  color: tomato;
}