* {
  padding: 0;
  margin: 0;
}

#header {
  background: #00bfff;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  flex-basis: 120px;
  flex-grow: 1;
  flex-shrink: 2;
  max-width: 200px;
}

a:hover {
  color: #00bfff;
  background: white;
}