html {
  min-width: 520px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
}

.p-0 {
  padding: 0;
}

.carousel-item span {
  background: black;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-menu a {
  padding: 2px;
  color: black;
}

.dropdown-menu a:hover {
  color: black;
}

#content form input {
  margin: 10px;
}

#content {
  padding: 20px;
}

li {
  margin: 0 5px;
}

footer {
  padding: 20px;
  color: white;
}
