body {
  margin: 0 auto;
  font-family: Arial;
  text-align: center;
}

img {
  max-width:100%;
  position: relative;
}

.header {
  color: white;
}

.header h1 {
  position: absolute;
  font-weight: 100;
  font-size: 5vw;
  top: 0;
  margin: 15% 20% 0 20%;
}

.header a {
  position: absolute;
  top:0; left:0;
  margin: 30% 28.5%;
  padding: 2vw 15vw;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 2%;
  width: 10%;
  text-decoration: none;
  color: white;
  background-color: crimson;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 2vw;
  line-height:22px;
}

.header a:hover {
  background-color: #d60268;
}

.twitter, .facebook, .googleplus {
   width: 50px;
   height: 50px;
   border-radius: 30px;
   border: 1px solid lightgrey;
   background: url(images/sprite.png)
}

.twitter {
   background-position: -233px -204px;
}

.twitter:hover {
   background-position: -233px -389px;
}

.facebook {
   background-position: -641px -204px;
}

.facebook:hover {
   background-position: -641px -389px;
}

.googleplus {
   background-position: -165px -204px;
}

.googleplus:hover {
   background-position: -165px -389px;
}

.middle {
  font-size: 2vw;
}

.middle h1 {
    font-weight: 100;
    font-size: 5vw;
  }

.middle h2 {
  font-size: 2vw;
}

.footer {
  background-color: #100350;
  height: 30vh;
  margin: 66% 0 0 0;
  color: white;
  padding: 10%;
}
.footer span {
  color: grey;
}

.footer p {
  font-size: 2vw;
  font-family: Arial;
  padding-left: 38%;
  padding-right: 32%;
  text-align: left;
}

@media all and (min-width: 768px) {
  div div {
  float: left;
  width: 31.333333%;
  margin: 1%;
  }

  .middle {
    width: 70%;
    margin: 5% 15% 0 15%;
  }

  .footer {
    height: 15vh;
  }

  .footer a {
    margin:1%;
  }
}

@media all and (max-width: 767px) {
  div div {
    margin: 10%;
  }

  .middle {
    margin: 0 auto;
    width: 80%;
  }

  .middle h2 {
    font-size: 3vw;
  }

  .footer {
    margin: 33% 0 0 0;
    color: white;
    height: 20vh;
    padding:10px;
  }

  a {
    margin: 3%;
  }
}