div {
  background-color: dodgerblue;
  color: white;
}

.flex-item:hover {
  background-color: white;
  color: dodgerblue;
}

body>div {
  display: flex;
  border: 1px solid blue;
}

div div {
  flex-direction: row;
  padding: 15px;
}

.taskA div,
.taskB div {
  flex-basis: 25%;
}

.taskB {
  flex-direction: row-reverse;
  flex-basis: none;
}

.taskC,
.taskD,
.taskE,
.taskF,
.taskG,
.taskH {
  justify-content: center;
}

.taskD div,
.taskE div,
.taskF div,
.taskG div {
  flex-basis: 90px;
  border: 1px solid blue;
}

.taskF {
  justify-content: flex-end;
}

.taskE, .taskF, .taskG {
  align-items: center;
}

.taskG {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.taskH {
  flex-wrap: wrap;
}

.taskI {
  flex-direction: column;
}

.taskI div {
  border: 1px solid blue;
}