* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  text-align: center;
}

h2::before {
  content: "the_";
}

h2::after {
  content: "_site";
}

h2::after, h2::before {
  text-shadow: 2px 2px 3px lightgrey;
}

.adv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea>div {
  overflow: scroll;
  height: 300px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px;
}

a.join {
  text-decoration: none;
  color: transparent;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.join {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  padding: 20px;
  font-weight: bold;
  white-space: nowrap;
  transition:
    width 0.4s,
    color 0.3s;
  overflow: hidden;
  user-select: none;
  z-index: 1000;
}

.join>span {
  color: white;
}

.join:hover {
  width: 190px;
  color: white;
}

.join::after {
  content: " US ON TELEGRAM";
}

img {
  width: 100%;
  height: auto;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: purple;
  color: white;
}

header {
  height: 20vw;
  max-height: 200px;
}

footer {
  height: 50vw;
  max-height: 300px;
}

@media all and (max-width: 767px) {
  .adv {
    height: 30vw;
  }
}

@media all and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .adv {
    writing-mode: vertical-rl;
  }

  .captures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }

  .captures>div:hover {
    transform: scale(2);
  }

  .smile {
    transform-origin: left top;
  }

  .sweet {
    transform-origin: right top;
  }

  .sister {
    transform-origin: left bottom;
  }

  .sadistic {
    transform-origin: right bottom;
  }

  .textarea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: black;
  }
}
