body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  --hor-padding: 30px;
  color: white;
  font-family: 'Press Start 2P', cursive, 'consolas';
  font-size: 30px;
  padding-bottom: var(--hor-padding);
  padding-top: var(--hor-padding);
}

.highscore {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.livesAndFruit {
  --hor-padding: 30px;
  padding-bottom: var(--hor-padding);
  padding-top: var(--hor-padding);
}

* {
  user-select: none;
}

.sidebar {
  font-family: 'Press Start 2P', cursive, 'consolas';
  font-size: 20px;
}
