* {
  padding: 0;
  margin: 0;
}

html {
  background-color: grey;
  background: url(sprite/bg.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  min-width: 800px;
  background-attachment: fixed;
  font-family: Arial;
}

body {
  font-size: 20px;
}

footer, header {
  padding: 1% 15%;
  background-color: #000;
  color: white;
  text-align: right;
}

footer {
  padding: 1%;
  text-align: center;
}

main {
  background: rgba(222, 222, 222, 0.9);
  padding: 3% 1%;
  margin: 0px 15%;
  display: flex;
}

a {
  font-size: 20px;
  text-decoration: none;
  padding: 1%;
  color: white;
}

aside {
  flex-basis: 25%;
  background-color: rgba(150, 150, 150, 0.75);
  margin: 1%;
  overflow: hidden;
}

section {
  flex-basis: 75%;
}

h2 {
  margin: 2% 0%;
}

.linkASide, .active {
  color: black;
  padding: 3% 100% 3% 3%;
}

.linkASide:hover {
  background-color: black;
  color: white;
}

li {
  padding: 3% 0%;
}

.linkHeader:hover {
  color: black;
  background-color: darkgrey;
}

.active {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

.m3_aside {
  width: 25%;
}

.m3_main {
  display: block;
  overflow: auto;
}

.m3_sec {
  width: 75%;
  float: left;
}

.m4_aside {
  width: 17.5%;
  position: absolute;
  top: 15%;
  right: 15%;
}

.m4_main {
  display: block;
  overflow: auto;
}

.m4_sec {
  width: 70%;
}

.m6_footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
}