body {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  background: #555;
}

p {
  color: green;
}

p:first-child, p:nth-child(3) {
  color: darkred;
}

#pink {
  color: pink;
}

body a {
  color:red;
}

ul a {
  color: pink;
}

li:last-child ul a {
  text-decoration: none;
}

ul {
  text-align: left;
  list-style: circle;
}

ul ul {
  list-style: none;
}

li:last-child ul
{
  list-style: square;
}

h1+p {
  font-size: 20px;
}

p code {
  color: red;
}